@font-face {
    font-family: "SourceHanSerif";
    src: url("/typeface/SourceHanSerifSC-VF.otf");
  }
  :root {
    --md-text-font: "SourceHanSerif";
      font-weight: 600;
  }
  h1 {
    font-weight: bold !important;
    color: black !important;
  }
  
  h2 {
    font-weight: bold !important;
  }
  
  h3 {
    font-weight: bold !important;
  }