h1 {
  font-weight: bold !important;
  color: inherit !important;
}
h2 {
  font-weight: bold !important;
}

h3 {
  font-weight: bold !important;
}
body {
  user-select: none !important;
  -webkit-user-select: none !important;
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url(/static/Inter.ttf) format('truetype');
}
:root {
  --md-text-font: "Inter" !important;
}